@model BlogCaNhan.Web.Areas.Admin.ViewModel.LoginViewModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link href="~/custom/css/login.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h1>Tạo tài khoản</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>hoặc sử dụng tài khoản</span>
                <input type="text" placeholder="Tên đăng nhập" />
                <input type="password" placeholder="Mật khẩu" />
                <input type="password" placeholder="Nhập lại mật khẩu" />
                <button type="submit">Đăng kí</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="Login" method="post">
                <h1>Đăng nhập</h1>
                <div class="social-container">
                    <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <span>hoặc sử dụng tài khoản</span>
                <input asp-for="Username" placeholder="Tên đăng nhập" />
                <input asp-for="Password" placeholder="Mật khẩu" />
                <div class="remember">
                    <input type="checkbox" asp-for="RememberMe" checked/><label asp-for="RememberMe" style="margin-left: 10px;">Nhớ tài khoản</label>
                </div>
                <a href="#">Quên mật khẩu?</a>
                <button type="submit">Đăng nhập</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Chào mừng trở lại</h1>
                    <p>Mỗi thành viên là một điều tự hào của chúng tôi.</p>
                    <button class="ghost" id="signIn">Đăng nhập</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Xin chào!</h1>
                    <p>Cùng chúng tối trải nghiệm dịch vụ số 1 thế giới</p>
                    <button class="ghost" id="signUp">Đăng kí</button>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>
            <a href="https://www.facebook.com/rong.bay.31586/">Huynh Thanh Thuan</a>
        </p>
    </footer>

    <script src="~/custom/js/login.js"></script>
</body>

</html>